<div>
    <div>
        parte facebook
    </div>
    <div id="formularioComentario">
        <div>
            <label for="nombrerazonsocial">Nombre o Raz&oacute;n Social *</label>
            <input type="text" name="nombrerazonsocial">
        </div>
        <div>
            <label for="telefono">Tel&eacute;fono *</label>
            <input type="text">
        </div>
        <div>
            <label for="dniruc">DNI o RUC *</label>
            <input type="text">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text">
        </div>
        <div>
            <label for="comentario">Comentario *</label>
            <input type="text">
        </div>
        <div>
            recaptcha
        </div>
        <div>
            <button>Enviar</button>
        </div>
    </div>
</div>

<div>
    google maps 
</div>