/* contenedores */

.contenedor-footer {
    background-color: black;
}

.contenedor-grid {
    color: white;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.contenedor-grid h3 {
    color: white;
}

.contenedor-grid a {
    color: white;
    text-decoration: none;
}

@media (min-width: 790px) {
    .contenedor-grid {
        display: grid;
        grid-template-columns: 20% 20% 25% 35%;
    }
    .contenedor-redes-login {
        display: grid;
        grid-template-columns: 70% 30%;
        height: 20%;
        justify-items: end;
        padding-top: 1.4rem;
    }
    #iconoface {
        margin-top: 0.8rem;
    }
}


/* botones */

.buttonLogin {
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 2px solid #555555;
}

@media (min-width: 790px) {
    .buttonLogin {
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        background-color: transparent;
        color: white;
        border: 2px solid #555555;
        margin: 4px 2px;
        text-decoration: none;
        text-align: center;
        padding: 8px 25px;
    }
}

@media (max-width: 1055px) {
    .buttonLogin {
        padding: 0px 12px;
    }
}


/* iconos */

#iconoface {
    height: 3rem;
}

@media (min-width: 790px) {
    #iconoface:hover {
        cursor: pointer;
    }
}