.inicio-cuerpo {
    background-color: white;
    height: 100%;
    /* min-height: ; */
}

.contenedor-inicio-cuerpo {
    width: 95%;
    margin: 0 auto;
}

@media (min-width: 790px) {
    .contenedor-inicio-cuerpo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        max-width: 1200px;
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}

.contenedor-inicio-cuerpo h3 {
    color: black;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
}

.contenedor-inicio-cuerpo p {
    text-align: justify;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

hr.hrStyle {
    border-top: 3px solid #206ec3;
    height: 3px;
}


/* .contenedor-inicio-cuerpo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    padding-top: 8rem;
    height: 90%;
}

.contenedor-inicio-cuerpo h3 {
    color: blue;
    text-align: center;
}

.contenedor-inicio-cuerpo p {
    text-align: justify;
}

#contenedor-mision-vision {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
} */