<div class="contenido-edicion">
        <h2 class="centrar-texto">Tipo Servicios</h2>
        <div class="contenido-edicion-elementos-4colum"  *ngFor="let contenido of ArrayTipoServicio">
            <h3>{{contenido.nombre}}<hr></h3>
            <p>{{contenido.descripcion}}</p>

            <div *ngIf="contenido.categoria_id==1">
                <div *ngFor="let contenidocategoria of ArrayCategoria" >
                   <p align="center"*ngIf="contenidocategoria.id==1">Categor&iacute;a: {{contenidocategoria.nombre}} </p>
               </div> 
            </div>
            <div *ngIf="contenido.categoria_id==2">
                <div *ngFor="let contenidocategoria of ArrayCategoria" >
                    <p align="center"*ngIf="contenidocategoria.id==2">Categor&iacute;a: {{contenidocategoria.nombre}} </p>
                </div> 
            </div>
            <div *ngIf="contenido.categoria_id==3">
                <div *ngFor="let contenidocategoria of ArrayCategoria" >
                    <p align="center"*ngIf="contenidocategoria.id==3">Categor&iacute;a: {{contenidocategoria.nombre}} </p>
                </div> 
            </div>
            <div id="contenedorButton">
                <button (click)="editarTipoServicio(contenido.id)">Editar</button>
            </div>
        </div>
    </div>
