/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* reset para rems - 62.5% = 10px de 16px, es decir cada rem vale 10px */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* swal */

#swal2-title {
    font-size: 2.5rem;
}

#swal2-content {
    font-size: 2rem;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    background-color: white;
}


/* Globales */

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}


/* Utilidades */

.centrar-texto {
    text-align: center;
}

.no-margin {
    margin: 0;
}

.elementoInvisible {
    display: none;
}


/* HEADER */

#menuHamburguesa {
    height: 5rem;
    padding-right: 2rem;
}

#menuHamburguesa:hover {
    cursor: pointer;
}


/* navegacion */

.navegacion {
    display: none;
}

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.navegacion li {
    margin-right: 2rem;
    display: block;
    font-size: 1.8rem;
}

.navegacion a:last-of-type {
    margin: 0;
}


/* desplegable */

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: block;
}

.nav {
    list-style-type: none;
}

@media (min-width: 790px) {
    .NavHamburger {
        display: none;
    }
    .navegacion {
        display: flex;
    }
    #menuHamburguesa {
        display: none;
    }
    .nav {
        display: flex;
        justify-content: space-between;
    }
    .navegacion a:hover {
        color: #ff0505;
        cursor: pointer;
        font-size: 2.1rem;
    }
}

.barra-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    flex-direction: row-reverse;
}

@media (min-width: 790px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
    }
}

.site-header {
    background-image: url(../src/assets/fondocamionblanco2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 65rem;
}

.texto-slogan {
    color: #ffffff;
    text-align: center;
    padding-top: 15rem;
}

@media (min-width: 790px) {
    .contenedor-botones-inicio {
        display: grid;
        grid-template-columns: repeat(2, 15rem);
        column-gap: 30px;
        padding-left: 11rem;
    }
    .texto-slogan {
        font-size: 9rem;
        padding-top: 4rem;
    }
}

.site-header a {
    color: #ffffff;
    text-decoration: none;
}

#logoEmpresa {
    height: 10rem;
    padding-left: 2rem;
}

#logoEmpresa:hover {
    cursor: pointer;
}

.flechaabajo {
    height: 5rem;
}


/* BOTONES */

.flechaabajo {
    display: block;
    margin: auto;
    margin-top: 8rem;
}

.flechaabajo:hover {
    cursor: pointer;
}

@media (min-width: 790px) {
    .btn {
        display: block;
        text-align: center;
        font-family: 'PT Sans', sans-serif;
        text-transform: uppercase;
        font-size: 2rem;
    }
    .btn-servicios {
        background-color: #002BFF;
    }
    .btn-contacto {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: rgba(0, 0, 0, 0.56);
        border-radius: 7px 7px 7px 7px;
        -moz-border-radius: 7px 7px 7px 7px;
        -webkit-border-radius: 7px 7px 7px 7px;
    }
    .flechaabajo {
        margin-top: 0;
    }
    .flechaabajo:hover {
        height: 7rem;
    }
}

.btn:hover {
    cursor: pointer;
}